<h1>Listing pics</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Pic</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @pics %>
</tbody>
</table>

<br />

<%= link_to 'New Pic', new_pic_path %>
