<div class="hero-unit">
<h1>I Saw You</h1>
<p>
<img src="http://canopytek.com/images/isawyou6.png"> 
For finding your lost love. All you need is a vague photo. 

<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>

<!--<small>本当の愛を見た？漠然とした写真をアップロードし、それらを見つける！ </small>-->
<br>

</p>




</div>
